/* général */
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

header {
  max-width: 1440px;
  margin: auto;
}
main {
  max-width: 1440px;
  margin: auto;
}
a {
  text-decoration: none;
  color: initial;
}
img {
  object-fit: cover;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
}
.flexCenteralign {
  display: flex;
  align-items: center;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexBetweenColumn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}
.flexEvenly {
  display: flex;
  justify-content: space-evenly;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Header et Navbar */

nav {
  width: 100%;
  height: 110px;
}
nav img {
  width: 120px;
  height: 50px;
  margin-left: 15px;
}
.nav_buttons_both {
  display: flex;
}
.button_nav {
  width: 160px;
  height: 110px;
}
.button_nav a:hover {
  border-top: solid 3px #0065fc;
  color: #0065fc;
}
.button_nav a {
  width: 100%;
  height: 100%;
  font-weight: 600;
}

/* première section title & search bar */

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main_title {
  margin-bottom: 20px;
}
.search_bar {
  height: 50px;
}
.location_icon {
  background-color: #f2f2f2;
  width: 50px;
  min-width: 50px;
  border-radius: 10px 0 0 10px;
}
.type_bar {
  width: 220px;
  padding-left: 15px;
  border: solid 1px #f2f2f2;
  border-right: none;
}
.type_bar::placeholder {
  color: black;
  font-weight: 600;
  margin-left: 15px;
}
.search_button {
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  width: 135px;
  border-radius: 0 10px 10px 0;
  border: none;
}
.search_button:hover {
  cursor: pointer;
}
.search_button:active {
  background-color: #f2f2f2;
  color: black;
}
.search_little {
  display: none;
}

/* Filtres */

.filters {
  max-width: 900px;
  margin: 25px 0 25px 0;
}
.filters_title {
  font-weight: 700;
  margin-left: 5px;
  width: 55px;
}
.filter_all_buttons {
  width: 100%;
}
.filter_button {
  border: solid 2px #f2f2f2;
  border-radius: 30px;
  margin: 5px;
  height: 50px;
  border-left: none;
}
.filter_button:hover .filter_icon {
  background-color: #0065fc;
  color: #deebff;
}
.filter_button:hover .text_filter {
  color: #0065fc;
}
.filter_button:hover {
  background-color: #deebff;
  cursor: pointer;
}
.filter_icon {
  border-radius: 30px;
  min-width: 50px;
  height: 50px;
  background-color: #deebff;
  color: #0065fc;
}
.text_filter {
  font-weight: 700;
  margin: 0 15px 0 15px;
}

/* infos */

.info {
  margin-bottom: 25px;
}
.info .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  margin: 0 15px 0 5px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border: solid 2px #f2f2f2;
  border-radius: 30px;
}
.text_info {
  font-weight: 500;
}

/* Deuxième section hébergement*/

.heberg_title {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.all_heberg_marseille {
  position: relative;
}
.heberg_marseille {
  flex: 2;
  height: 580px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 15px;
  padding: 40px 20px 40px 20px;
}
.most_popular_heber {
  flex: 1;
  height: 580px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
}
.all_cards_heberg {
  flex-wrap: wrap;
  width: 100%;
  height: 450px;
}
.heberg_cards {
  width: 30%;
  min-width: 205px;
  height: 200px;
  margin: 5px;
  border-radius: 18px;
  border: solid 5px white;
  box-shadow: lightgray 5px 5px 5px 0;
}
.heberg_cards:hover {
  box-shadow: #0065fc 5px 5px 5px 0;
}
.heberg_cards img {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}
.card_text {
  margin: 0 0 5px 10px;
}
.star_heberg {
  margin: 0 0 5px 10px;
}
.more_button {
  background-color: #f2f2f2;
  margin: 10px 0 0 30px;
  height: 25px;
  font-weight: 700;
  border: none;
  position: absolute;
  bottom: 15px;
}
.more_button:hover {
  color: #0065fc;
  cursor: pointer;
}
.star_heberg .fa-solid {
  color: #0065fc;
}
.star_heberg .gray {
  color: lightgray;
}
.price {
  font-weight: 600;
}
.title_pop .fa-solid {
  font-size: 20px;
  margin-right: 20px;
}
.popular_main_title {
  font-size: 20px;
  margin: 0 0 10px 20px;
}
.all_popular_cards {
  width: 100%;
  min-width: 300px;
  height: 100%;
}
.all_popular_cards a {
  width: 100%;
}
.popular_cards img {
  border-radius: 15px 0 0 15px;
  width: 120px;
  height: 100%;
}
.popular_cards {
  border: solid 5px white;
  display: flex;
  border-radius: 15px;
  width: 100%;
  height: 140px;
  box-shadow: lightgray 5px 5px 5px 0;
}
.popular_cards:hover {
  box-shadow: #0065fc 5px 5px 5px 0;
}
.text_popular {
  margin: 10px 0 15px 10px;
}
.star_popular {
  color: #0065fc;
}
.gray {
  color: lightgray;
}

/* Section 3 activité */

.activity_marseille_title {
  font-size: 20px;
  margin: 50px 0 10px 0;
}
.all_activity {
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 50px;
  height: 500px;
}
.title_card_activity {
  margin-left: 10px;
  height: 50px;
}
.cards_activity_all {
  justify-content: center;
  width: 300px;
  min-width: 220px;
  border-radius: 15px;
  box-shadow: #f2f2f2 5px 5px 5px 0;
}
.cards_activity_all:hover {
  box-shadow: #0065fc 5px 5px 5px 0;
}
.cards_activity_all img {
  border-radius: 15px 15px 0 0;
}
.img_activity_1 {
  height: 400px;
}
.img_activity_2 {
  height: 150px;
}
.card_activity_1 {
  height: 450px;
}
.card_activity_2 {
  height: 250px;
}
.card_activity_2 img {
  height: 200px;
}
.card_activity_3 {
  height: 160px;
}
.card_activity_3 img {
  height: 110px;
}
.card_activity_5 {
  height: 200px;
}
.all_activity a {
  height: auto;
  width: 300px;
}
/* Footer */

footer {
  width: 100%;
  background: #f2f2f2;
  height: auto;
}

.footer_all {
  display: flex;
  justify-content: space-between;
  width: 98%;
  max-width: 1440px;
}
.footer_cards {
  display: flex;
  margin-left: 30px;
}
.footer_assist {
  margin-right: 30%;
}
.footer_title {
  margin-bottom: 15px;
  margin-top: 15px;
  width: fit-content;
}
.footer_link {
  margin-bottom: 7px;
}
.footer_link:hover {
  color: #0065fc;
}

/* Media queries */

@media screen and (max-width: 1500px) {
  main {
    width: 95%;
  }
}
@media screen and (max-width: 1315px) {
  .cards_activity_all {
    width: 250px;
  }
  .all_activity a {
    width: 250px;
  }
}
@media screen and (max-width: 1118px) {
  .heberg_marseille {
    height: 770px;
  }
  .most_popular_heber {
    height: 770px;
  }
  .all_activity {
    align-items: center;
  }
  .cards_activity_all {
    height: 200px;
  }
  .cards_activity_all img {
    height: 150px;
  }
}

/* media tablette */
@media screen and (max-width: 998px) {
  .all_heberg_marseille {
    height: auto;
    flex-direction: column-reverse;
  }
  .most_popular_heber {
    flex: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .heberg_title {
    margin-left: 0;
  }
  .activity_marseille_title {
    margin-left: 20px;
  }
  .title_pop {
    width: 100%;
    justify-content: space-between;
  }
  .all_popular_cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .popular_cards {
    margin: 5px;
  }
  .heberg_marseille {
    flex: none;
    height: 550px;
    margin: 10px;
    background-color: white;
    padding: 40px 0 0 0;
  }
  .more_button {
    background-color: white;
  }
  .heberg_cards {
    box-shadow: #f2f2f2 5px 5px 5px 0;
  }
}
@media screen and (max-width: 845px) {
  .all_activity {
    height: 750px;
    align-content: space-around;
  }
}

/* media mobile */

@media screen and (max-width: 768px) {
  /* header mobile */
  body {
    margin: 0;
  }
  main {
    width: 95%;
  }
  nav {
    height: 130px;
    align-items: center;
    flex-direction: column;
  }
  .nav_buttons_both {
    width: 100%;
  }

  .button_nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
  }
  .button_nav a {
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #f2f2f2;
  }
  .button_nav a:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }

  /* search bar mobile */

  .all_search_bar {
    margin: 20px;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .search_bar {
    width: 100%;
    height: 54px;
    border: solid 2px #f2f2f2;
    border-left: none;
    border-right: none;
    border-radius: 15px;
  }
  .type_bar {
    width: 85%;
    border: none;
  }
  .search_button {
    display: none;
  }
  .search_little {
    display: block;
    width: 50px;
    min-width: 50px;
    color: #f2f2f2;
    background-color: #0065fc;
    border-radius: 15px;
    border: none;
  }
  .search_little:hover {
    color: #0065fc;
    background-color: #deebff;
  }
  /* filtres mobiles */

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter_button {
    margin: 10px;
  }
  .filter_all_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .heberg_title {
    margin-left: 15px;
  }
  .most_popular_heber {
    margin-right: 10px;
  }
  .heberg_marseille .heberg_cards {
    width: 100%;
  }
  .heberg_marseille {
    height: 1400px;
  }
  .footer {
    justify-content: flex-start;
  }
  .footer_all {
    width: auto;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .footer_cards {
    margin-left: 20px;
  }
  .all_activity {
    height: 1300px;
    align-content: center;
  }
  .all_activity a {
    width: 100%;
  }
  .cards_activity_all {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 345px) {
  .popular_main_title {
    margin-left: 0;
  }
  .all_popular_cards {
    min-width: 0;
  }
  .popular_cards img {
    width: 70px;
  }
  .popular_cards {
    height: fit-content;
    min-width: 170px;
  }
  .heberg_title {
    margin-left: 0;
  }
  .activity_marseille_title {
    margin-left: 20px;
  }
  .footer_cards {
    margin-left: 10px;
  }
}
