
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
    
}

a {
    text-decoration: none;
    color: initial;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.nav_buttons {
    display: flex;
    justify-content: space-between;
    width: 20%;
    
}

.button_heberg {
    display: flex;
    width: 160px;
    
}


.button_activites {
    display: flex;
    padding-right: 25px;
    width: 160px;
}

.logo {
    width: 90px;
    margin-right: 25px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    
}

.subtitle {
    font-size: 12px;
}

.search_bar {
    display: flex;
    
}

ul {
    list-style-type: none;
}

.filter_li {
    display: flex;
    justify-content: space-between;
    width:  500px;

}

.footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
}

.footer_all {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
}

.footer_cards {
    display: flex;
    flex-direction: column;
    
}
